*{

  font-family: sans-serif;

}

.contenedor{
  height: 1000px;
  width: 1200px;
  margin: 5px;
  padding: 5px;
  }

.navegacion{
  background-color: rgb(0, 0, 0);
  width: 20%;
  height: 100%;
  float: left;
}

.navegacion li a{
text-decoration: none;
color: white;
}

.navegacion li:hover{
background-color:violet;
filter:brightness(0,5);
transition:0.5s;
}


.contenido1{
width: 80%;
height: 25%;
background-color: rgb(128, 0, 0);
color: white;
padding: 0.1px;
text-align: center;

}


.contenido2{
width: 80%;
height: 25%;
background-color: green;
color: white;
padding: 0.1px;
text-align: center;

}


.contenido3{
width: 80%;
height: 25%;
background-color: rgb(55, 0, 255);
color: white;
padding: 0.1px;
text-align: center;
}


.contenido4{
width: 80%;
height: 25%;
background-color: rgb(255, 0, 212);
color: white;
padding: 0.1px;
text-align: center;
}

